<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for(p of listProjects; track p.id) {
        <tr>
          <td>{{ p.id }}</td>
          <td>{{ p.name }}</td>
          <td>{{ p.description }}</td>
          <td>{{ p.price }}</td>
          <td><img src="{{p.image}}" alt=""></td>
          <td>
            <button>Delete</button>
            <button>Detail</button>
            <button>Edit</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
